# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
.pub-cache/
.pub/

# Generated platform folders (recreated by `flutter create` / CI)
/android/
/ios/
/linux/
/macos/
/windows/
/web/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# built artifacts we DO want on GitHub
!dist/
dist/*.keep

# release signing (keep secret)
android/key.properties
android/care-release.jks
