/* color first td from every tr */
.service_trip_table tr td:first-child {
    background-color: rgb(211, 211, 211);
}

/* add border for table */
.service_trip_table tr td, .service_trip_table tr th {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}


.draft-state{
    color: gray;
}
.pickuped-state{
    color: cyan;
}
.arrived-state{
    color: yellow;
}
.processing-state{
    color: orange;
}
.delivered-state{
    color: blue;
}
.completed-state{
    color:green;
}
.cancelled-state{
    color: red;
}
.scheduled-state{
    color: purple;
}