/* center all tr in td except first one */
.service_trip_table{
    text-align: center;
}



/* color first td for each tr */
.service_trip_table tr td:first-child {
   background-color: lightgray;
   text-align: left;
}

/* add border for table */
.service_trip_table tr td, .service_trip_table tr th {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

.state-badge  {
  border-radius: 50px;
  padding: 10px;
  font-size: small;
  font-weight: bold;
  display: block;
  width: fit-content;
  height: 20px;
  color: white;
  line-height: 0;
  text-align: center;

}

.draft-state {
    background-color: #d1d1d1;

}
.pickuped-state {
    background-color: #cd6c0d;
}
.arrived-state {
    background-color: #317f69;

}
.processing-state {
    background-color: #0a599f;

}
.delivered-state {
    background-color: #3c775f;
}
.completed-state {
  background-color:green;
}
.cancelled-state {
    background-color: #bf2904;
}
.scheduled-state {
  background-color: rgb(197, 117, 197);
}